services:
  cephylas:
    build:
      dockerfile: ./core/Dockerfile
    container_name: cephylas
    ports:
      - "7878:7878"
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 50M
    volumes:
      - ./log:/app/log
      - ./core:/app

  cephylas-nextjs:
    build: 
      dockerfile: ./next/Dockerfile
    container_name: cephylas-nextjs-dev
    env_file:
      - .env.development
    volumes:
      - ./log:/app/log:ro # place a sample log_daily file!
      - ./next:/app:cached
    tmpfs:
      - /app/.next

  webserver:
    image: nginx:latest
    container_name: cephylas-webserver
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - 80:80
    

networks:
  default:
    name: cephylas-network

